ipykernel
jupyter_client
matplotlib
pandas
jupyter-datatables
seaborn
jupyter_sphinx
nbsphinx
nbsphinx-link  
pytest_check_links
pypandoc
recommonmark
sphinx>=1.5
sphinx_book_theme
sphinx_mdinclude
myst-parser
