ipykernel
jupyter_client
matplotlib
pandas
jupyter-datatables
seaborn
jupyter_sphinx
nbsphinx
nbsphinx-link  
pytest_check_links
pypandoc
recommonmark
sphinx>=8.0.0
sphinx_mdinclude
myst-parser
furo

# Note: Pandoc must be installed system-wide
# For Ubuntu/Debian: sudo apt-get install -y pandoc
# For macOS with Homebrew: brew install pandoc
# For other systems, please refer to https://pandoc.org/installing.html
